
.submenu.menu01			{ width:106px; height:33px; background:url(/img/language/sp/menu/submenu_01.jpg) no-repeat; }
.submenu.menu01:hover	{ width:106px; height:33px; background:url(/img/language/sp/menu/submenu_01_r.jpg) no-repeat; }
.submenu.menu02			{ width:145px; height:33px; background:url(/img/language/sp/menu/submenu_02.jpg) no-repeat; }
.submenu.menu02:hover	{ width:145px; height:33px; background:url(/img/language/sp/menu/submenu_02_r.jpg) no-repeat; }

.submenu.menu03			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_03.jpg) no-repeat;}
.submenu.menu03:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_03_r.jpg) no-repeat; }
.submenu.menu04			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_04.jpg) no-repeat; }
.submenu.menu04:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_04_r.jpg) no-repeat; }

.submenu.menu52			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_52.jpg) no-repeat;}
.submenu.menu52:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_52_r.jpg) no-repeat; }
.submenu.menu53			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_53.jpg) no-repeat; }
.submenu.menu53:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_53_r.jpg) no-repeat; }

.submenu.menu05			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_05.jpg) no-repeat; }
.submenu.menu05:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_05_r.jpg) no-repeat; }
.submenu.menu06			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_06.jpg) no-repeat; }
.submenu.menu06:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_06_r.jpg) no-repeat; }
.submenu.menu07			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_07.jpg) no-repeat; }
.submenu.menu07:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_07_r.jpg) no-repeat; }

.submenu.menu08			{ width:104px; height:33px; background:url(/img/language/sp/menu/submenu_08.jpg) no-repeat; }
.submenu.menu08:hover	{ width:104px; height:33px; background:url(/img/language/sp/menu/submenu_08_r.jpg) no-repeat; }
.submenu.menu09			{ width:88px; height:33px; background:url(/img/language/sp/menu/submenu_09.jpg) no-repeat; }
.submenu.menu09:hover	{ width:88px; height:33px; background:url(/img/language/sp/menu/submenu_09_r.jpg) no-repeat; }
.submenu.menu10			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_10.jpg) no-repeat; }
.submenu.menu10:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_10_r.jpg) no-repeat; }

.submenu.menu11			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_11.jpg) no-repeat; }
.submenu.menu11:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_11_r.jpg) no-repeat; }
.submenu.menu70			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_68.jpg) no-repeat; }
.submenu.menu70:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_68_r.jpg) no-repeat; }
.submenu.menu55			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_55.jpg) no-repeat; }
.submenu.menu55:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_55_r.jpg) no-repeat; }

.submenu.menu62			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_11.jpg) no-repeat; }
.submenu.menu62:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_11_r.jpg) no-repeat; }

.submenu.menu12			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_12.jpg) no-repeat; }
.submenu.menu12:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_12_r.jpg) no-repeat; }
.submenu.menu13			{ width:188px; height:33px; background:url(/img/language/sp/menu/submenu_13.jpg) no-repeat; }
.submenu.menu13:hover	{ width:188px; height:33px; background:url(/img/language/sp/menu/submenu_13_r.jpg) no-repeat; }

.submenu.menu14			{ width:88px; height:33px; background:url(/img/language/sp/menu/submenu_14.jpg) no-repeat; }
.submenu.menu14:hover	{ width:88px; height:33px; background:url(/img/language/sp/menu/submenu_14_r.jpg) no-repeat; }
.submenu.menu15			{ width:104px; height:33px; background:url(/img/language/sp/menu/submenu_15.jpg) no-repeat; }
.submenu.menu15:hover	{ width:104px; height:33px; background:url(/img/language/sp/menu/submenu_15_r.jpg) no-repeat; }
.submenu.menu16			{ width:128px; height:33px; background:url(/img/language/sp/menu/submenu_16.jpg) no-repeat; }
.submenu.menu16:hover	{ width:128px; height:33px; background:url(/img/language/sp/menu/submenu_16_r.jpg) no-repeat; }
.submenu.menu17			{ width:118px; height:33px; background:url(/img/language/sp/menu/submenu_17.jpg) no-repeat; }
.submenu.menu17:hover	{ width:118px; height:33px; background:url(/img/language/sp/menu/submenu_17_r.jpg) no-repeat; }
.submenu.menu18			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_18.jpg) no-repeat; }
.submenu.menu18:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_18_r.jpg) no-repeat; }
.submenu.menu19			{ width:96px; height:33px; background:url(/img/language/sp/menu/submenu_19.jpg) no-repeat; }
.submenu.menu19:hover	{ width:96px; height:33px; background:url(/img/language/sp/menu/submenu_19_r.jpg) no-repeat; }

.submenu.menu20			{ width:188px; height:33px; background:url(/img/language/sp/menu/submenu_20.jpg) no-repeat; }
.submenu.menu20:hover	{ width:188px; height:33px; background:url(/img/language/sp/menu/submenu_20_r.jpg) no-repeat; }
.submenu.menu21			{ width:120px; height:33px; background:url(/img/language/sp/menu/submenu_21.jpg) no-repeat; }
.submenu.menu21:hover	{ width:120px; height:33px; background:url(/img/language/sp/menu/submenu_21_r.jpg) no-repeat; }
.submenu.menu22			{ width:182px; height:33px; background:url(/img/language/sp/menu/submenu_22.jpg) no-repeat; }
.submenu.menu22:hover	{ width:182px; height:33px; background:url(/img/language/sp/menu/submenu_22_r.jpg) no-repeat; }

.submenu.menu23			{ width:108px; height:33px; background:url(/img/language/sp/menu/submenu_23.jpg) no-repeat; }
.submenu.menu23:hover	{ width:108px; height:33px; background:url(/img/language/sp/menu/submenu_23_r.jpg) no-repeat; }
.submenu.menu24			{ width:106px; height:33px; background:url(/img/language/sp/menu/submenu_24.jpg) no-repeat; }
.submenu.menu24:hover	{ width:106px; height:33px; background:url(/img/language/sp/menu/submenu_24_r.jpg) no-repeat; }
.submenu.menu25			{ width:106px; height:33px; background:url(/img/language/sp/menu/submenu_25.jpg) no-repeat; }
.submenu.menu25:hover	{ width:106px; height:33px; background:url(/img/language/sp/menu/submenu_25_r.jpg) no-repeat; }
.submenu.menu26			{ width:92px; height:33px; background:url(/img/language/sp/menu/submenu_26.jpg) no-repeat; }
.submenu.menu26:hover	{ width:92px; height:33px; background:url(/img/language/sp/menu/submenu_26_r.jpg) no-repeat; }
.submenu.menu27			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_27.jpg) no-repeat; }
.submenu.menu27:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_27_r.jpg) no-repeat; }
.submenu.menu28			{ width:120px; height:33px; background:url(/img/language/sp/menu/submenu_28.jpg) no-repeat; }
.submenu.menu28:hover	{ width:120px; height:33px; background:url(/img/language/sp/menu/submenu_28_r.jpg) no-repeat; }
.submenu.menu29			{ width:66px; height:33px; background:url(/img/language/sp/menu/submenu_29.jpg) no-repeat; }
.submenu.menu29:hover	{ width:66px; height:33px; background:url(/img/language/sp/menu/submenu_29_r.jpg) no-repeat; }
.submenu.menu30			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_30.jpg) no-repeat; }
.submenu.menu30:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_30_r.jpg) no-repeat; }
.submenu.menu31			{ width:74px; height:33px; background:url(/img/language/sp/menu/submenu_31.jpg) no-repeat; }
.submenu.menu31:hover	{ width:74px; height:33px; background:url(/img/language/sp/menu/submenu_31_r.jpg) no-repeat; }
.submenu.menu32			{ width:82px; height:33px; background:url(/img/language/sp/menu/submenu_32.jpg) no-repeat; }
.submenu.menu32:hover	{ width:82px; height:33px; background:url(/img/language/sp/menu/submenu_32_r.jpg) no-repeat; }
.submenu.menu33			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_33.jpg) no-repeat; }
.submenu.menu33:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_33_r.jpg) no-repeat; }

.submenu.menu34			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_34.jpg) no-repeat; }
.submenu.menu34:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_34_r.jpg) no-repeat; }
.submenu.menu68			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_34.jpg) no-repeat; }
.submenu.menu68:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_34_r.jpg) no-repeat; }

.submenu.menu36			{ width:206px; height:33px; background:url(/img/language/sp/menu/submenu_36.jpg) no-repeat; }
.submenu.menu36:hover	{ width:206px; height:33px; background:url(/img/language/sp/menu/submenu_36_r.jpg) no-repeat; }
.submenu.menu35			{ width:208px; height:33px; background:url(/img/language/sp/menu/submenu_35.jpg) no-repeat;  }
.submenu.menu35:hover	{ width:208px; height:33px; background:url(/img/language/sp/menu/submenu_35_r.jpg) no-repeat; }

.submenu.menu37			{ width:98px; height:33px; background:url(/img/language/sp/menu/submenu_37.jpg) no-repeat; }
.submenu.menu37:hover	{ width:98px; height:33px; background:url(/img/language/sp/menu/submenu_37_r.jpg) no-repeat; }
.submenu.menu67			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_67.jpg) }
.submenu.menu67:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_67_r.jpg) no-repeat; }
.submenu.menu38			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_38.jpg) no-repeat; }
.submenu.menu38:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_38_r.jpg) no-repeat; }

.submenu.menu39			{ width:98px; height:33px; background:url(/img/language/sp/menu/submenu_39.jpg) no-repeat; }
.submenu.menu39:hover	{ width:98px; height:33px; background:url(/img/language/sp/menu/submenu_39_r.jpg) no-repeat; }
.submenu.menu71			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_69.jpg) no-repeat; }
.submenu.menu71:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_69_r.jpg) no-repeat; }
.submenu.menu40			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_40.jpg) no-repeat; }
.submenu.menu40:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_40_r.jpg) no-repeat; }
.submenu.menu54			{ width:222px; height:33px; background:url(/img/language/sp/menu/submenu_54.jpg) no-repeat; }
.submenu.menu54:hover	{ width:222px; height:33px; background:url(/img/language/sp/menu/submenu_54_r.jpg) no-repeat; }

.submenu.menu63			{ width:98px; height:33px; background:url(/img/language/sp/menu/submenu_39.jpg) no-repeat; }
.submenu.menu63:hover	{ width:98px; height:33px; background:url(/img/language/sp/menu/submenu_39_r.jpg) no-repeat; }
.submenu.menu64			{ width:98px; height:33px; background:url(/img/language/sp/menu/submenu_39.jpg) no-repeat; }
.submenu.menu64:hover	{ width:98px; height:33px; background:url(/img/language/sp/menu/submenu_39_r.jpg) no-repeat; }

.submenu.menu69			{ width:98px; height:33px; background:url(/img/language/sp/menu/submenu_39.jpg) no-repeat; }
.submenu.menu69:hover	{ width:98px; height:33px; background:url(/img/language/sp/menu/submenu_39_r.jpg) no-repeat; }

.submenu.menu41			{ width:212px; height:33px; background:url(/img/language/sp/menu/submenu_41.jpg) no-repeat; }
.submenu.menu41:hover	{ width:212px; height:33px; background:url(/img/language/sp/menu/submenu_41_r.jpg) no-repeat; }
.submenu.menu42			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_42.jpg) no-repeat; }
.submenu.menu42:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_42_r.jpg) no-repeat; }
.submenu.menu43			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_43.jpg) no-repeat; }
.submenu.menu43:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_43_r.jpg) no-repeat; }
.submenu.menu44			{ width:130px; height:33px; background:url(/img/language/sp/menu/submenu_44.jpg) no-repeat; }
.submenu.menu44:hover	{ width:130px; height:33px; background:url(/img/language/sp/menu/submenu_44_r.jpg) no-repeat; }
.submenu.menu45			{ width:206px; height:33px; background:url(/img/language/sp/menu/submenu_45.jpg) no-repeat; }
.submenu.menu45:hover	{ width:206px; height:33px; background:url(/img/language/sp/menu/submenu_45_r.jpg) no-repeat; }

.submenu.menu46			{ width:190px; height:33px; background:url(/img/language/sp/menu/submenu_46.jpg) no-repeat; }
.submenu.menu46:hover	{ width:190px; height:33px; background:url(/img/language/sp/menu/submenu_46_r.jpg) no-repeat; }
.submenu.menu47			{ width:180px; height:33px; background:url(/img/language/sp/menu/submenu_47.jpg) no-repeat; }
.submenu.menu47:hover	{ width:180px; height:33px; background:url(/img/language/sp/menu/submenu_47_r.jpg) no-repeat; }

.submenu.menu48			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_48.jpg) no-repeat; }
.submenu.menu48:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_48_r.jpg) no-repeat;  }
.submenu.menu56			{ width:186px; height:33px; background:url(/img/language/sp/menu/submenu_56.jpg) no-repeat; }
.submenu.menu56:hover	{ width:186px; height:33px; background:url(/img/language/sp/menu/submenu_56_r.jpg) no-repeat; }
.submenu.menu49			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_49.jpg) no-repeat; }
.submenu.menu49:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_49_r.jpg) no-repeat; }
.submenu.menu50			{ width:130px; height:33px; background:url(/img/language/sp/menu/submenu_50.jpg) no-repeat; }
.submenu.menu50:hover	{ width:130px; height:33px; background:url(/img/language/sp/menu/submenu_50_r.jpg) no-repeat; }

.submenu.menu60			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_48.jpg) no-repeat; }
.submenu.menu60:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_48_r.jpg) no-repeat;  }
.submenu.menu61			{ width:186px; height:33px; background:url(/img/language/sp/menu/submenu_56.jpg) no-repeat; }
.submenu.menu61:hover	{ width:186px; height:33px; background:url(/img/language/sp/menu/submenu_56_r.jpg) no-repeat; }

.submenu.menu66			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_57.jpg) no-repeat; }
.submenu.menu66:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_57_r.jpg) no-repeat; }

.submenu.menu65			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_49.jpg) no-repeat; }
.submenu.menu65:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_49_r.jpg) no-repeat; }

.submenu.menu73			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_73.jpg) no-repeat; }
.submenu.menu73:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_73_r.jpg) no-repeat; }
.submenu.menu74			{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_74.jpg) no-repeat; }
.submenu.menu74:hover	{ width:150px; height:33px; background:url(/img/language/sp/menu/submenu_74_r.jpg) no-repeat; }

.submenu.menu100		{ width:72px; height:33px; background:url(/img/language/sp/menu/submenu_100.jpg) no-repeat; }
.submenu.menu100:hover	{ width:72px; height:33px; background:url(/img/language/sp/menu/submenu_100_r.jpg) no-repeat; }
.submenu.menu101		{ width:142px; height:33px; background:url(/img/language/sp/menu/submenu_101.jpg) no-repeat; }
.submenu.menu101:hover	{ width:142px; height:33px; background:url(/img/language/sp/menu/submenu_101_r.jpg) no-repeat; }

.submenu.menu102		{ width:130px; height:33px; background:url(/img/language/sp/menu/submenu_102.jpg) no-repeat; }
.submenu.menu102:hover	{ width:130px; height:33px; background:url(/img/language/sp/menu/submenu_102_r.jpg) no-repeat; }

.submenu.menu103		{ width:83px; height:33px; background:url(/img/language/sp/menu/submenu_103.jpg) no-repeat; }
.submenu.menu103:hover	{ width:83px; height:33px; background:url(/img/language/sp/menu/submenu_103_r.jpg) no-repeat; }

.submenu.menu104		{ width:188px; height:33px; background:url(/img/language/sp/menu/submenu_104.jpg) no-repeat; }
.submenu.menu104:hover	{ width:188px; height:33px; background:url(/img/language/sp/menu/submenu_104_r.jpg) no-repeat; }
